{% extends 'base.html' %} {% block title %}Movies Recommendation System{%
endblock title %} {% block body %}

<div class="row justify-content-center padding">
  <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
    <form action="#" class="domain-form">
      <div class="form-group d-md-flex">
        <input
          type="text"
          class="form-control px-4"
          placeholder="Search Movies.."
          id="myInput"
          onkeyup="filterFunction(false)"
        />
        <button class="Recommend_btn btn"
        onClick = "filterFunction(true); return false">Recommend</button>
      </div>
      <div class="movie-content">
        <div class="card listcard">
          <ul id="movieList" class="list-group list-group-flush"></ul>
        </div>
      </div>
    </form>
  </div>

  <div id = "card-container" class="row row-cols-1 row-cols-md-5 g-4">
    <div id="head" class="row">Movies Similar to: <span></span></div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 ">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="static\style.css"></script>
{% endblock body %}
